.DS_STORE
*.ipr
*.iml
*.iws
*.flags.json
npm-debug.log
web/
lib/*.zip
version.properties
.sass-cache
swagger-ui.sublime-workspace
.idea
.project
node_modules/*
/nbproject/private/
test/specs/local/
src/main/html/css/print.css
src/main/html/css/screen.css
src/main/template/templates.js
*gz
dist

