.DS_STORE
*.ipr
*.iml
*.iws
*.flags.json
npm-debug.log
web/
lib/*.zip
version.properties
.sass-cache
swagger-ui.sublime-workspace
.idea
.project
node_modules/*
/nbproject/private/
dist/specs/
test/specs/local/
dist/css/print.css
dist/css/screen.css
dist/lib/jsoneditor.min.js
dist/swagger-ui.js
dist/swagger-ui.min.js
src/main/html/css/print.css
src/main/html/css/screen.css
src/main/template/templates.js
dist/build*
dist/css/build*
dist/swagger.json
*gz

